<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chatbot Administration</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }
        /* Dropdown Button */
        
        .dropbtn {
            padding: 2px;
            font-size: 16px;
            border: none;
        }
        /* The container <div> - needed to position the dropdown content */
        
        .dropdown {
            position: relative;
            display: inline-block;
        }
        /* Dropdown Content (Hidden by Default) */
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        /* Links inside the dropdown */
        
        .dropdown-content input {
            color: black;
            padding: 6px 6px;
            text-decoration: none;
            display: block;
        }
        /* Change color of dropdown links on hover */
        
        .dropdown-content a:hover {
            background-color: #ddd;
        }
        /* Show the dropdown menu on hover */
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        /* Change the background color of the dropdown button when the dropdown content is shown */
        
        .dropdown:hover .dropbtn {
            background-color: #ffffff;
        }
    </style>
    <script>
        function alertRefresh() {
            alert("Rafraîchir pour que les changements prennent effet.")
        }
    </script>
</head>

<body class="container">
    <header>
        <% if (undefined !== session && session.loggedIn){ %>
            <a href="logout">Déconnexion</a>
            <%
        } else if (!session.loggedIn){
        %>
                <a href="login">Connexion</a>
                <a href="signin">S'enregistrer</a>

                <%    
        }
        %>


    </header>
    <main>
        <div class="jumbotron">
            <h1>Bonjour
                <%
                if (undefined !== session){
                %>
                    <%= session.userName %>
                        <%    
                }
                %>


            </h1>
            <% if (undefined !== session && session.loggedIn){
            %>
                <% if (session.isAdmin){ %>
                    <form action="uploadbot" method="POST" enctype="multipart/form-data">
                        <input id="botfile" type="file" name="botfile" />
                        <input type="submit">
                    </form>

                    <form action="newdefault" method="POST">
                        <input type="submit" value="Nouveau par défaut">
                    </form>
                    <% } %>
                        <ul>
                            <% if (undefined !== bList){
                                bList.forEach(function(brain) { %>
                                <li>
                                    <strong>
                            <%= brain.nom %>
                            <%if(brain.notreInterface){%>
                                <br>
                                <a href="<%=`/chat/${session._id}/${brain._id}`%>" target="_blank" rel="noopener noreferrer">Chatter</a>

                            <%}%>
                            <br>
                            <% if (undefined !== session && session.isAdmin){ %>
                            <a>Sessions actives : Discord (<%= brain.dsSessions %>), Mastodon (<%= brain.msSessions %>), Navigateur (<%= brain.nvSessions %>)</a>
                            <form action="/delete" method="POST">
                                <input type="hidden" name="id" value="<%= brain._id %>" />
                                <input type="submit" value="Supprimer"/>
                            </form>
                            <div class="dropdown">
                                <button class="dropbtn">Permissions</button>
                                <div class="dropdown-content">
                                    <form action="/perm/discord" method="POST">
                                        <input type="hidden" name="id" value="<%= brain._id %>" />
                                        <% if (brain.discord){ %>
                                            <input type="submit" value="Discord" style="color: rgb(12, 141, 0);" onclick="alertRefresh()">
                                        <% } else { %>
                                            <input type="submit" value="Discord" style="color: rgb(133, 0, 0);" onclick="alertRefresh()">
                                        <% } %>
                                    </form>
                                    <form action="/perm/mastodon" method="POST">
                                        <input type="hidden" name="id" value="<%= brain._id %>" />
                                        <% if (brain.mastodon){ %>
                                            <input type="submit" value="Mastodon" style="color: rgb(12, 141, 0);" onclick="alertRefresh()">
                                        <% } else { %>
                                            <input type="submit" value="Mastodon" style="color: rgb(133, 0, 0);" onclick="alertRefresh()">
                                        <% } %>
                                    </form>
                                    <form action="/perm/navigateur" method="POST">
                                        <input type="hidden" name="id" value="<%= brain._id %>" />
                                        <% if (brain.notreInterface){ %>
                                            <input type="submit" value="Navigateur" style="color: rgb(12, 141, 0);" onclick="alertRefresh()">
                                        <% } else { %>
                                            <input type="submit" value="Navigateur" style="color: rgb(133, 0, 0);" onclick="alertRefresh()">
                                        <% } %>
                                    </form>
                                </div>
                            </div>
                            <% } %>
                        </strong>
                                </li>
                                <% });} %>
                        </ul>

                        <%
            }
            %>
        </div>

    </main>
    <footer>
        <p class="text-center text-muted">RiveScript Bot</p>
    </footer>
</body>

</html>